<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Trang thể loại</h1>
<p>Tên thể loại: <%=name%></p>

<ul>
    <% for(var i=0; i<listProduct.length; i++) {%>
       <li><%= listProduct[i] %></li>
    <% } %>
</ul>

<ul>
    <% listProduct.forEach(function(product) { %>
       <li> <%= product %></li>
    <% }) %> 
</ul>
<ul>
    <% listProduct2.forEach(function(productList) { %>
        <p>Type: </p>
        <% productList.forEach(function(product) { %>
            <li> <%= product %></li>
         <% }) %> 
    <% }) %> 
</ul>
<a href="/home">Đường dẫn đến trang home</a>

</body>
</html>