<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Trang home</h1>
<%if (type ==='trai_cay') { %>
    <p>Trái cây</p>
<%} else { %>
    <p>Khác</p>
<%} %>

<a href="/category">Đường dẫn đến trang thể loại</a>

</body>
</html>